<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" data-provider-thread-count="3">
    <listeners>
        <listener class-name="com.listeners.AnnotationTransformer"></listener>
        <listener class-name="com.listeners.ListenerClass"></listener>
    </listeners>
    <test name="qdPM_automation"  parallel="classes" thread-count="3">
        <classes>
            <class name="testcases.LoginTest">
                <methods>
                    <include name="tc_loginLogout"/>
                </methods>
            </class>
            <class name="testcases.AddTaskTest">
                <methods>
                    <include name="tc_addTask"/>
                </methods>
            </class>
            <class name="testcases.AddTicketTest">
                <methods>
                    <include name="tc_addTicket"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>